<?xml version="1.0" encoding="utf-8"?>
<!--
/**
 * *****************************************************************************
 *
 * @file AndroidManifest.xml
 * @author BLE Mesh Team
 * @version V1.07.000
 * @date 10-July-2018
 * @brief AndroidManifest file
 * *****************************************************************************
 * @attention <h2><center>&copy; COPYRIGHT(c) 2017 STMicroelectronics</center></h2>
 * <p>
 * Redistribution and use in source and binary forms, with or without modification,
 * are permitted provided that the following conditions are met:
 * 1. Redistributions of source code must retain the above copyright notice,
 * this list of conditions and the following disclaimer.
 * 2. Redistributions in binary form must reproduce the above copyright notice,
 * this list of conditions and the following disclaimer in the documentation
 * and/or other materials provided with the distribution.
 * 3. Neither the name of STMicroelectronics nor the names of its contributors
 * may be used to endorse or promote products derived from this software
 * without specific prior written permission.
 * <p>
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
 * FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
 * SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
 * CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
 * OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 * OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 * <p>
 * BlueNRG-Mesh is based on Motorola’s Mesh Over Bluetooth Low Energy (MoBLE)
 * technology. STMicroelectronics has done suitable updates in the firmware
 * and Android Mesh layers suitably.
 * <p>
 * *****************************************************************************
 */
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.st.bluenrgmesh">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />


    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="false"/>

    <application
        android:requestLegacyExternalStorage="true"
        android:name="com.st.bluenrgmesh.UserApplication"
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--<receiver
            android:name=".voicereceiver.AudioActionReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.st.bluems.bluevoice.command"/>
            </intent-filter>
        </receiver>-->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".fota.FotaActivity" android:screenOrientation="portrait"/>

        <activity android:name=".fota.NodeListActivity" android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity android:name=".view.fragments.setting.BluetoothConnectFragment" android:screenOrientation="portrait"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="59bec968503a4d133ec47c08f1dbe79157d0c82e" />

        <service
            android:name=".services.ModelBindingService"
            android:exported="false"/>

        <service
            android:name=".services.SubscriptionService"
            android:exported="false"/>

        <service
            android:name=".services.PublicationService"
            android:exported="false"/>

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <receiver
            android:name=".BluetoothConnectionReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.ACL_CONNECTED"></action>
                <action android:name="android.bluetooth.adapter.action.ACL_DISCONNECTED"></action>
            </intent-filter>
        </receiver>

        <provider android:name=".GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_path"/>
        </provider>

        <!--<provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@layout/provider" />
        </provider>-->

        <!--android:resource="@xml/provider_paths"-->
        <activity android:name=".voice_assist.VoiceAssistAcivity" android:screenOrientation="portrait"/>
    </application>
</manifest>
